<div *ngFor="let car of cars" class="container">
  <div class="row">
    <div class="col-md-4">
      <img
        *ngIf="car.carImage.length != 0"
        class="image"
        alt="Image"
        style="object-fit: contain"
        [src]="imgUrl + car.carImage[0].imagePath"
      />
    </div>
    <div class="col-md-4">
      <img
        *ngIf="car.carImage.length > 1"
        class="image"
        [src]="imgUrl + car.carImage[1].imagePath"
      />
    </div>
    <div class="col-md-4">
      <img
        *ngIf="car.carImage.length > 2"
        class="image"
        [src]="imgUrl + car.carImage[2].imagePath"
      />
    </div>
  </div>

  <a
  routerLink="/cars/rentals/{{ car.carId }}"
    type="button"
    class="btn btn-success m-5"
  >
    Kirala
  </a>
