<div class="content" >
    <div class="col-md-10 m-5" >
      <div class="card">
        <div class="card-header"><h5 class="Marka Ekle"></h5></div>
        <div class="card-body">
          <form [formGroup]="rentalAddForm">
            <div class="form-group" >
              <div class="mb-3" >
            <label for="carId">Araba Id</label>
                <div class="form-group" >
                    <input type="number" 
                    id="carId" 
                    formControlName="carId" class="form-control" 
                    placeholder="araba ıd ekle"/>
                    
                </div>
              </div>
              <div class="mb-3">
                <label for="customerId">Müsteri Numaranız</label>
                        <div class="form-group">
                            <input type="number" 
                            id="customerId" 
                            formControlName="customerId" class="form-control" 
                            placeholder="Müsteri Numaranızı giriniz"/>
                        </div>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Rent Date</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2011-08-19" 
                  id="rentDate"
                  class="form-select"
                  formControlName="rentDate">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Return Date</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2011-08-19" 
                  id="returnDate"
                  class="form-select"
                  formControlName="returnDate">
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-fill btn-success" (click)="rental()">
                  Ekle
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  