<div class="content">
    <div class="col-md-10 m-5">
      <div class="card">
        <div class="card-header"><h5 class="Renk Ekle"></h5></div>
        <div class="card-body">
          <form [formGroup]="colorAddForm">
            <div class="form-group">
              <label class="mb-1">Renk Adı</label>
              <input
                type="text"
                id="colorName"
                formControlName="colorName"
                class="form-control"
                placeholder="Renk Adı"
              />
              <div class="card-footer">
                  <button class="btn btn-fill btn-success" (click)="add()">Ekle</button>
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  