<div *ngIf="dataLoaded==false" class="spinner-border " role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table *ngIf="dataLoaded==true" class="table">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Company Name</th>
        <th>First Last Name</th>
        <th></th>
        
      </tr>
    </thead>
    <tr *ngFor="let customer of customers">
        <td>{{ customer.userId }}</td>
      <td>{{ customer.companyName }}</td>
      <td>{{customer.lastName}}{{customer.firstName}}</td>
     
    </tr>
  </table>
  